{#{% extends "base.html" %}#}
{##}
{#    {% block title %}Log In{% endblock %}#}
{##}
{#{% block content %}#}
{#<h2>Log In</h2>#}
{#<form method="post">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#  <button type="submit">Log In</button>#}
{#     <div class="flex items-center justify-center h-screen">#}
{#     <form class= "bg-white p-4 rounded-md w-3/4 max-w-md" action="" method="post">#}
{#         {% csrf_token %}#}
{#        <h2 class="text-2xl font-medium my-4">Log In</h2>#}
{##}
{#        <div class="form-group">#}
{#            <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium leading-5 text-gray-700">Username: </label>#}
{#            {{ form.username }}#}
{#        </div>#}
{#           <div class="form-group">#}
{#            <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium leading-5 text-gray-700">Password: </label>#}
{#            {{ form.password }}#}
{#        </div>#}
{#   <div class="my-4 justify-center box-content h-full w-40">#}
{#            <input type="submit" value="login" class="h-full w-full bg-blue-500 text-white rounded-md hover:bg-blue-600">#}
{#        </div>#}
{#         </form>#}
{#     </div>#}
{#{% endblock %}#}

{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<h2 class="text-2xl font-medium my-4">Log In</h2>
<form class= "bg-white p-4 rounded-md w-3/4 max-w-md" action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer dark:bg-gray-800 dark:border-gray-600"  type="submit">Log In</button>
</form>
{% endblock %}
